<div>
    <h2 id="page-heading">
        <span jhiTranslate="saberApp.scheduleJob.home.title">Schedule Jobs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-schedule-job" [routerLink]="['/schedule-job/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="saberApp.scheduleJob.home.createLabel">
            Create new Schedule Job
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="scheduleJobs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="saberApp.scheduleJob.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="saberApp.scheduleJob.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="beanName"><span jhiTranslate="saberApp.scheduleJob.beanName">Bean Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="methodName"><span jhiTranslate="saberApp.scheduleJob.methodName">Method Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="params"><span jhiTranslate="saberApp.scheduleJob.params">Params</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cronExpression"><span jhiTranslate="saberApp.scheduleJob.cronExpression">Cron Expression</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="saberApp.scheduleJob.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remark"><span jhiTranslate="saberApp.scheduleJob.remark">Remark</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createTime"><span jhiTranslate="saberApp.scheduleJob.createTime">Create Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let scheduleJob of scheduleJobs ;trackBy: trackId">
                <td><a [routerLink]="['/schedule-job', scheduleJob.id, 'view' ]">{{scheduleJob.id}}</a></td>
                <td>{{scheduleJob.title}}</td>
                <td>{{scheduleJob.description}}</td>
                <td>{{scheduleJob.beanName}}</td>
                <td>{{scheduleJob.methodName}}</td>
                <td>{{scheduleJob.params}}</td>
                <td>{{scheduleJob.cronExpression}}</td>
                <td>{{scheduleJob.status}}</td>
                <td>{{scheduleJob.remark}}</td>
                <td>{{scheduleJob.createTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/schedule-job', scheduleJob.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/schedule-job', scheduleJob.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'schedule-job/'+ scheduleJob.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                        <button type="submit"
                                class="btn btn-primary btn-sm" (click)="run(scheduleJob.id)">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="saberApp.scheduleJob.action.run">Run</span>
                        </button>
                        <button type="submit"
                                class="btn btn-info btn-sm" (click)="pause(scheduleJob.id)">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="saberApp.scheduleJob.action.pause">Pause</span>
                        </button>
                        <button type="submit"
                                class="btn btn-primary btn-sm" (click)="resume(scheduleJob.id)">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="saberApp.scheduleJob.action.resume">Resume</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="scheduleJobs && scheduleJobs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
